1. Write a program to reverse a string.

In [1]:
def reverse_string(input_str):
    # Using string slicing with a step of -1 to reverse the string
    reversed_str = input_str[::-1]
    return reversed_str

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_string)

Original string: Hello, World!
Reversed string: !dlroW ,olleH

2. Check if a string is a palindrome.

In [2]:
def is_palindrome(input_str):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    input_str = input_str.replace(" ", "").lower()
    # Check if the string is equal to its reverse
    return input_str == input_str[::-1]

# Example usage
input_string = "Able was I ere I saw Elba"  # Palindrome example
if is_palindrome(input_string):
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome.')

"Able was I ere I saw Elba" is a palindrome.

3. Convert a string to uppercase.

In [3]:
def convert_to_uppercase(input_str):
    return input_str.upper()

# Example usage
input_string = "Hello, World!"
uppercase_string = convert_to_uppercase(input_string)
print("Original string:", input_string)
print("Uppercase string:", uppercase_string)

Original string: Hello, World!
Uppercase string: HELLO, WORLD!

4. Convert a string to lowercase.

In [4]:
def convert_to_lowercase(input_str):
    return input_str.lower()

# Example usage
input_string = "Hello, World!"
lowercase_string = convert_to_lowercase(input_string)
print("Original string:", input_string)
print("Lowercase string:", lowercase_string)

Original string: Hello, World!
Lowercase string: hello, world!

5. Count the number of vowels in a string.

In [5]:
def count_vowels(input_str):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_str:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Hello, World!"
num_vowels = count_vowels(input_string)
print("Number of vowels in the string:", num_vowels)

Number of vowels in the string: 3

6. Count the number of consonants in a string.

In [6]:
def count_consonants(input_str):
    vowels = "aeiouAEIOU"
    consonant_count = 0
    for char in input_str:
        if char.isalpha() and char not in vowels:
            consonant_count += 1
    return consonant_count

# Example usage
input_string = "Hello, World!"
num_consonants = count_consonants(input_string)
print("Number of consonants in the string:", num_consonants)

Number of consonants in the string: 7

7. Remove all whitespaces from a string.

In [7]:
def remove_whitespace(input_str):
    return input_str.replace(" ", "")

# Example usage
input_string = "Hello, World!"
no_whitespace_string = remove_whitespace(input_string)
print("Original string:", input_string)
print("String without whitespace:", no_whitespace_string)

Original string: Hello, World!
String without whitespace: Hello,World!

8. Find the length of a string without using the `len()` function.

In [8]:
def string_length(input_str):
    count = 0
    for char in input_str:
        count += 1
    return count

# Example usage
input_string = "Hello, World!"
length = string_length(input_string)
print("Length of the string:", length)

Length of the string: 13

9. Check if a string contains a specific word.

In [9]:
def contains_word(input_str, word):
    return word in input_str

# Example usage
input_string = "Hello, World!"
word_to_check = "World"
if contains_word(input_string, word_to_check):
    print(f'The string "{input_string}" contains the word "{word_to_check}".')
else:
    print(f'The string "{input_string}" does not contain the word "{word_to_check}".')

The string "Hello, World!" contains the word "World".

10. Replace a word in a string with another word.

In [10]:
def replace_word(input_str, old_word, new_word):
    return input_str.replace(old_word, new_word)

# Example usage
input_string = "Hello, World! This is a test string."
old_word_to_replace = "test"
new_word = "example"
modified_string = replace_word(input_string, old_word_to_replace, new_word)
print("Original string:", input_string)
print("Modified string:", modified_string)

Original string: Hello, World! This is a test string.
Modified string: Hello, World! This is a example string.

11. Count the occurrences of a word in a string.

In [11]:
def count_word_occurrences(input_str, target_word):
    words = input_str.split()
    count = 0
    for word in words:
        if word == target_word:
            count += 1
    return count

# Example usage
input_string = "Hello, World! Hello, Python! Hello, World again!"
target_word = "Hello"
occurrences = count_word_occurrences(input_string, target_word)
print(f'The word "{target_word}" appears {occurrences} times in the string.')

The word "Hello" appears 0 times in the string.

12. Find the first occurrence of a word in a string.

In [12]:
def find_first_occurrence(input_str, target_word):
    index = input_str.find(target_word)
    return index

# Example usage
input_string = "Hello, World! This is a test string."
target_word = "test"
first_occurrence_index = find_first_occurrence(input_string, target_word)

if first_occurrence_index != -1:
    print(f'The word "{target_word}" first occurs at index {first_occurrence_index}.')
else:
    print(f'The word "{target_word}" does not occur in the string.')

The word "test" first occurs at index 24.

13. Find the last occurrence of a word in a string.

In [13]:
def find_last_occurrence(input_str, target_word):
    index = input_str.rfind(target_word)
    return index

# Example usage
input_string = "Hello, World! This is a test string. Hello again!"
target_word = "Hello"
last_occurrence_index = find_last_occurrence(input_string, target_word)

if last_occurrence_index != -1:
    print(f'The word "{target_word}" last occurs at index {last_occurrence_index}.')
else:
    print(f'The word "{target_word}" does not occur in the string.')

The word "Hello" last occurs at index 37.

14. Split a string into a list of words.

In [14]:
def split_string_into_words(input_str):
    words_list = input_str.split()
    return words_list

# Example usage
input_string = "Hello, World! This is a test string."
words_list = split_string_into_words(input_string)
print("Original string:", input_string)
print("List of words:", words_list)

Original string: Hello, World! This is a test string.
List of words: ['Hello,', 'World!', 'This', 'is', 'a', 'test', 'string.']

15. Join a list of words into a string.

In [15]:
def join_words_into_string(words_list):
    return ' '.join(words_list)

# Example usage
words_list = ['Hello,', 'World!', 'This', 'is', 'a', 'test', 'string.']
joined_string = join_words_into_string(words_list)
print("List of words:", words_list)
print("Joined string:", joined_string)

List of words: ['Hello,', 'World!', 'This', 'is', 'a', 'test', 'string.']
Joined string: Hello, World! This is a test string.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [16]:
def convert_spaces_to_underscores(input_str):
    return input_str.replace(" ", "_")

# Example usage
input_string = "Hello, World! This is a test string."
underscored_string = convert_spaces_to_underscores(input_string)
print("Original string:", input_string)
print("Underscored string:", underscored_string)

Original string: Hello, World! This is a test string.
Underscored string: Hello,_World!_This_is_a_test_string.

17. Check if a string starts with a specific word or phrase.

In [17]:
def starts_with_word(input_str, target_word):
    return input_str.startswith(target_word)

# Example usage
input_string = "Hello, World! This is a test string."
target_word = "Hello"
if starts_with_word(input_string, target_word):
    print(f'The string "{input_string}" starts with the word "{target_word}".')
else:
    print(f'The string "{input_string}" does not start with the word "{target_word}".')

The string "Hello, World! This is a test string." starts with the word "Hello".

18. Check if a string ends with a specific word or phrase.

In [18]:
def ends_with_word(input_str, target_word):
    return input_str.endswith(target_word)

# Example usage
input_string = "Hello, World! This is a test string."
target_word = "string."
if ends_with_word(input_string, target_word):
    print(f'The string "{input_string}" ends with the word "{target_word}".')
else:
    print(f'The string "{input_string}" does not end with the word "{target_word}".')

The string "Hello, World! This is a test string." ends with the word "string.".

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
def convert_to_title_case(input_str):
    return input_str.title()

# Example usage
input_string = "hello world"
title_case_string = convert_to_title_case(input_string)
print("Original string:", input_string)
print("Title case string:", title_case_string)

Original string: hello world
Title case string: Hello World

20. Find the longest word in a string.

In [20]:
def find_longest_word(input_str):
    words = input_str.split()
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word

# Example usage
input_string = "Hello, World! This is a test string."
longest_word = find_longest_word(input_string)
print("Original string:", input_string)
print("Longest word:", longest_word)

Original string: Hello, World! This is a test string.
Longest word: string.

21. Find the shortest word in a string.

In [21]:
def find_shortest_word(input_str):
    words = input_str.split()
    shortest_word = None
    for word in words:
        if shortest_word is None or len(word) < len(shortest_word):
            shortest_word = word
    return shortest_word

# Example usage
input_string = "Hello, World! This is a test string."
shortest_word = find_shortest_word(input_string)
print("Original string:", input_string)
print("Shortest word:", shortest_word)

Original string: Hello, World! This is a test string.
Shortest word: a

22. Reverse the order of words in a string.

In [22]:
def reverse_words(input_str):
    words = input_str.split()
    reversed_words = words[::-1]
    reversed_string = ' '.join(reversed_words)
    return reversed_string

# Example usage
input_string = "Hello, World! This is a test string."
reversed_string = reverse_words(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_string)

Original string: Hello, World! This is a test string.
Reversed string: string. test a is This World! Hello,

23. Check if a string is alphanumeric.

In [23]:
def is_alphanumeric(input_str):
    return input_str.isalnum()

# Example usage
input_string1 = "Hello123"
input_string2 = "Hello, World!"
print(f'Is "{input_string1}" alphanumeric? {is_alphanumeric(input_string1)}')
print(f'Is "{input_string2}" alphanumeric? {is_alphanumeric(input_string2)}')

Is "Hello123" alphanumeric? True
Is "Hello, World!" alphanumeric? False

24. Extract all digits from a string.

In [24]:
def extract_digits(input_str):
    return [char for char in input_str if char.isdigit()]

# Example usage
input_string = "Hello123 World456!"
digits_list = extract_digits(input_string)
print("Original string:", input_string)
print("Extracted digits:", digits_list)

Original string: Hello123 World456!
Extracted digits: ['1', '2', '3', '4', '5', '6']

25. Extract all alphabets from a string.

In [25]:
def extract_alphabets(input_str):
    return [char for char in input_str if char.isalpha()]

# Example usage
input_string = "Hello123 World456!"
alphabets_list = extract_alphabets(input_string)
print("Original string:", input_string)
print("Extracted alphabets:", alphabets_list)

Original string: Hello123 World456!
Extracted alphabets: ['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

26. Count the number of uppercase letters in a string.

In [26]:
def count_uppercase_letters(input_str):
    count = 0
    for char in input_str:
        if char.isupper():
            count += 1
    return count

# Example usage
input_string = "Hello, World! This is a Test String."
uppercase_count = count_uppercase_letters(input_string)
print("Original string:", input_string)
print("Number of uppercase letters:", uppercase_count)

Original string: Hello, World! This is a Test String.
Number of uppercase letters: 5

27. Count the number of lowercase letters in a string.

In [27]:
def count_lowercase_letters(input_str):
    count = 0
    for char in input_str:
        if char.islower():
            count += 1
    return count

# Example usage
input_string = "Hello, World! This is a Test String."
lowercase_count = count_lowercase_letters(input_string)
print("Original string:", input_string)
print("Number of lowercase letters:", lowercase_count)

Original string: Hello, World! This is a Test String.
Number of lowercase letters: 22

28. Swap the case of each character in a string.

In [28]:
def swap_case(input_str):
    return input_str.swapcase()

# Example usage
input_string = "Hello, World! This is a Test String."
swapped_string = swap_case(input_string)
print("Original string:", input_string)
print("Swapped case string:", swapped_string)

Original string: Hello, World! This is a Test String.
Swapped case string: hELLO, wORLD! tHIS IS A tEST sTRING.

29. Remove a specific word from a string.

In [29]:
def remove_word(input_str, word_to_remove):
    return input_str.replace(word_to_remove, '')

# Example usage
input_string = "Hello, World! This is a Test String."
word_to_remove = "Test"
modified_string = remove_word(input_string, word_to_remove)
print("Original string:", input_string)
print(f"String with '{word_to_remove}' removed:", modified_string)

Original string: Hello, World! This is a Test String.
String with 'Test' removed: Hello, World! This is a  String.

30. Check if a string is a valid email address.

In [30]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

# Example usage
email1 = "user@example.com"
email2 = "invalid-email"
print(f'Is "{email1}" a valid email address? {is_valid_email(email1)}')
print(f'Is "{email2}" a valid email address? {is_valid_email(email2)}')

Is "user@example.com" a valid email address? True
Is "invalid-email" a valid email address? False

31. Extract the username from an email address string.

In [31]:
def extract_username(email):
    parts = email.split('@')
    if len(parts) == 2:
        return parts[0]
    else:
        return None

# Example usage
email_address = "user@example.com"
username = extract_username(email_address)
print("Email address:", email_address)
print("Extracted username:", username)

Email address: user@example.com
Extracted username: user

32. Extract the domain name from an email address string.

In [32]:
def extract_domain(email):
    parts = email.split('@')
    if len(parts) == 2:
        return parts[1]
    else:
        return None

# Example usage
email_address = "user@example.com"
domain_name = extract_domain(email_address)
print("Email address:", email_address)
print("Extracted domain name:", domain_name)

Email address: user@example.com
Extracted domain name: example.com

33. Replace multiple spaces in a string with a single space.

In [33]:
import re

def replace_multiple_spaces(input_str):
    return re.sub(r'\s+', ' ', input_str)

# Example usage
input_string = "Hello    World!   This   is  a  test  string   with   multiple    spaces."
modified_string = replace_multiple_spaces(input_string)
print("Original string:", input_string)
print("Modified string:", modified_string)

Original string: Hello    World!   This   is  a  test  string   with   multiple    spaces.
Modified string: Hello World! This is a test string with multiple spaces.

34. Check if a string is a valid URL.

In [34]:
pip install validators

Collecting validators
  Downloading validators-0.28.1-py3-none-any.whl (39 kB)
Installing collected packages: validators
Successfully installed validators-0.28.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import validators

def is_valid_url(url):
    return validators.url(url)

# Example usage
url1 = "https://www.example.com"
url2 = "invalid-url"
print(f'Is "{url1}" a valid URL? {is_valid_url(url1)}')
print(f'Is "{url2}" a valid URL? {is_valid_url(url2)}')

Is "https://www.example.com" a valid URL? True
Is "invalid-url" a valid URL? ValidationError(func=url, args={'value': 'invalid-url'})

35. Extract the protocol (http or https) from a URL string.

In [2]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    if parsed_url.scheme in ['http', 'https']:
        return parsed_url.scheme
    else:
        return None

# Example usage
url1 = "https://www.example.com"
url2 = "http://www.example.com"
url3 = "ftp://ftp.example.com"
print(f'Protocol for "{url1}": {extract_protocol(url1)}')
print(f'Protocol for "{url2}": {extract_protocol(url2)}')
print(f'Protocol for "{url3}": {extract_protocol(url3)}')

Protocol for "https://www.example.com": https
Protocol for "http://www.example.com": http
Protocol for "ftp://ftp.example.com": None

36. Find the frequency of each character in a string.

In [3]:
def character_frequency(input_str):
    freq_dict = {}
    for char in input_str:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    return freq_dict

# Example usage
input_string = "hello world"
frequency_map = character_frequency(input_string)
print("Input string:", input_string)
print("Character frequency:")
for char, freq in frequency_map.items():
    print(f"'{char}': {freq}")

Input string: hello world
Character frequency:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

37. Remove all punctuation from a string.

In [4]:
import string

def remove_punctuation(input_str):
    return ''.join(char for char in input_str if char not in string.punctuation)

# Example usage
input_string = "Hello, World! This is a test string."
cleaned_string = remove_punctuation(input_string)
print("Original string:", input_string)
print("String without punctuation:", cleaned_string)

Original string: Hello, World! This is a test string.
String without punctuation: Hello World This is a test string

38. Check if a string contains only digits.

In [5]:
def contains_only_digits(input_str):
    return input_str.isdigit()

# Example usage
string1 = "12345"
string2 = "123abc"
print(f'Is "{string1}" containing only digits? {contains_only_digits(string1)}')
print(f'Is "{string2}" containing only digits? {contains_only_digits(string2)}')

Is "12345" containing only digits? True
Is "123abc" containing only digits? False

39. Check if a string contains only alphabets

In [6]:
def contains_only_alphabets(input_str):
    return input_str.isalpha()

# Example usage
string1 = "abcdef"
string2 = "abc123"
print(f'Is "{string1}" containing only alphabets? {contains_only_alphabets(string1)}')
print(f'Is "{string2}" containing only alphabets? {contains_only_alphabets(string2)}')

Is "abcdef" containing only alphabets? True
Is "abc123" containing only alphabets? False

40. Convert a string to a list of characters.

In [7]:
input_string = "hello"
char_list = [char for char in input_string]
print(char_list)

['h', 'e', 'l', 'l', 'o']

41. Check if two strings are anagrams.

In [8]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for comparison
    str1 = str1.replace(' ', '').lower()
    str2 = str2.replace(' ', '').lower()
    
    # Check if the sorted versions of the strings are equal
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"
print(f'Are "{string1}" and "{string2}" anagrams? {are_anagrams(string1, string2)}')

Are "listen" and "silent" anagrams? True

42. Encode a string using a Caesar cipher.

In [9]:
def caesar_cipher_encode(input_str, shift):
    result = ""
    for char in input_str:
        if char.isalpha():
            # Determine the position of the character in the alphabet
            if char.isupper():
                base = ord('A')
            else:
                base = ord('a')
            position = ord(char) - base
            
            # Apply the shift and wrap around if necessary
            new_position = (position + shift) % 26
            
            # Convert back to the corresponding character
            new_char = chr(base + new_position)
            result += new_char
        else:
            result += char  # Non-alphabetic characters remain unchanged
    return result

# Example usage
input_string = "Hello, World!"
encoded_string = caesar_cipher_encode(input_string, 3)
print("Original string:", input_string)
print("Encoded string:", encoded_string)

Original string: Hello, World!
Encoded string: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [10]:
def caesar_cipher_decode(encoded_str, shift):
    result = ""
    for char in encoded_str:
        if char.isalpha():
            # Determine the position of the character in the alphabet
            if char.isupper():
                base = ord('A')
            else:
                base = ord('a')
            position = ord(char) - base
            
            # Apply the negative shift to decode and wrap around if necessary
            new_position = (position - shift) % 26
            
            # Convert back to the corresponding character
            new_char = chr(base + new_position)
            result += new_char
        else:
            result += char  # Non-alphabetic characters remain unchanged
    return result

# Example usage
encoded_string = "Khoor, Zruog!"
decoded_string = caesar_cipher_decode(encoded_string, 3)
print("Encoded string:", encoded_string)
print("Decoded string:", decoded_string)

Encoded string: Khoor, Zruog!
Decoded string: Hello, World!

44. Find the most frequent word in a string.

In [11]:
from collections import Counter
import re

def most_frequent_word(input_str):
    # Tokenize the string into words
    words = re.findall(r'\w+', input_str.lower())
    
    # Count the occurrences of each word using Counter
    word_counts = Counter(words)
    
    # Find the most frequent word
    most_common_word = word_counts.most_common(1)
    return most_common_word[0][0] if most_common_word else None

# Example usage
input_string = "Hello world hello Python world Python Python"
most_frequent = most_frequent_word(input_string)
print("Input string:", input_string)
print("Most frequent word:", most_frequent)

Input string: Hello world hello Python world Python Python
Most frequent word: python

45. Find all unique words in a string.

In [12]:
import re

def unique_words(input_str):
    # Tokenize the string into words
    words = re.findall(r'\w+', input_str.lower())
    
    # Create a set to store unique words
    unique_set = set(words)
    return list(unique_set)

# Example usage
input_string = "Hello world hello Python world Python Python"
unique_word_list = unique_words(input_string)
print("Input string:", input_string)
print("Unique words:", unique_word_list)

Input string: Hello world hello Python world Python Python
Unique words: ['python', 'world', 'hello']

46. Count the number of syllables in a string.

In [13]:
def count_syllables(input_str):
    # Split the string into words
    words = input_str.split()
    
    # Count syllables in each word
    syllable_count = 0
    for word in words:
        vowels = 'aeiouy'
        prev_char = ''
        for char in word.lower():
            if char in vowels and prev_char not in vowels:
                syllable_count += 1
            prev_char = char
    
    return syllable_count

# Example usage
input_string = "Hello world, how are you today?"
syllable_count = count_syllables(input_string)
print("Input string:", input_string)
print("Number of syllables:", syllable_count)

Input string: Hello world, how are you today?
Number of syllables: 7

47. Check if a string contains any special characters.

In [14]:
import re

def contains_special_characters(input_str):
    # Define a regular expression pattern for special characters
    pattern = re.compile(r'[^a-zA-Z0-9\s]')
    
    # Search for the pattern in the input string
    match = pattern.search(input_str)
    
    # Return True if a match (special character) is found, False otherwise
    return bool(match)

# Example usage
input_string = "Hello, World! This is a test string."
has_special_chars = contains_special_characters(input_string)
print("Input string:", input_string)
print("Contains special characters:", has_special_chars)

Input string: Hello, World! This is a test string.
Contains special characters: True

48. Remove the nth word from a string.

In [15]:
def remove_nth_word(input_str, n):
    # Split the string into words
    words = input_str.split()
    
    # Check if the index n is valid
    if n >= 0 and n < len(words):
        # Remove the nth word
        del words[n]
        # Join the remaining words back into a string
        result = ' '.join(words)
        return result
    else:
        return "Invalid index"

# Example usage
input_string = "Hello world, how are you today?"
n = 2  # Remove the third word (index 2)
modified_string = remove_nth_word(input_string, n)
print("Original string:", input_string)
print("Modified string:", modified_string)

Original string: Hello world, how are you today?
Modified string: Hello world, are you today?

49. Insert a word at the nth position in a string.

In [16]:
def insert_word_at_nth_position(input_str, word, n):
    # Split the string into words
    words = input_str.split()
    
    # Check if the index n is valid
    if n >= 0 and n <= len(words):
        # Insert the word at the nth position
        words.insert(n, word)
        # Join the words back into a string
        result = ' '.join(words)
        return result
    else:
        return "Invalid index"

# Example usage
input_string = "Hello world, how are you today?"
new_word = "fantastic"
n = 2  # Insert the new word at the third position (index 2)
modified_string = insert_word_at_nth_position(input_string, new_word, n)
print("Original string:", input_string)
print("Modified string:", modified_string)

Original string: Hello world, how are you today?
Modified string: Hello world, fantastic how are you today?

50. Convert a CSV string to a list of lists.

In [17]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a StringIO object to simulate a file-like object
    csv_file = StringIO(csv_string)
    
    # Use the csv.reader to read the CSV data into a list of lists
    csv_reader = csv.reader(csv_file)
    
    # Convert the csv_reader object to a list of lists
    csv_list = list(csv_reader)
    
    return csv_list

# Example CSV string
csv_data = """Name, Age, City
John Doe, 30, New York
Jane Smith, 25, Los Angeles
"""

# Convert the CSV string to a list of lists
csv_list = csv_string_to_list(csv_data)
print("CSV List:")
for row in csv_list:
    print(row)

CSV List:
['Name', ' Age', ' City']
['John Doe', ' 30', ' New York']
['Jane Smith', ' 25', ' Los Angeles']

1. Create a list with integers from 1 to 10.

In [18]:
# Using list comprehension
my_list = [i for i in range(1, 11)]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [19]:
def find_length_of_list(my_list):
    count = 0
    for _ in my_list:
        count += 1
    return count

# Example usage
my_list = [1, 2, 3, 4, 5]
length = find_length_of_list(my_list)
print("Length of the list:", length)

Length of the list: 5

3. Append an element to the end of a list.

In [20]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
my_list.append(6)

# Print the modified list
print(my_list)

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [21]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Insert an element at index 2 (third position)
my_list.insert(2, 10)

# Print the modified list
print(my_list)

[1, 2, 10, 3, 4, 5]

5. Remove an element from a list by its value.

In [22]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Remove the element with value 3
my_list.remove(3)

# Print the modified list
print(my_list)

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [23]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2 (third position)
removed_element = my_list.pop(2)

# Print the modified list and the removed element
print("Modified list:", my_list)
print("Removed element:", removed_element)

Modified list: [1, 2, 4, 5]
Removed element: 3

7. Check if an element exists in a list.

In [24]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Check if 3 exists in the list
if 3 in my_list:
    print("3 exists in the list")
else:
    print("3 does not exist in the list")

3 exists in the list

8. Find the index of the first occurrence of an element in a list.

In [25]:
# Original list
my_list = [10, 20, 30, 40, 50, 20]

# Find the index of the first occurrence of 20
first_index = my_list.index(20)

# Print the index of the first occurrence
print("Index of the first occurrence of 20:", first_index)

Index of the first occurrence of 20: 1

9. Count the occurrences of an element in a list.

In [26]:
# Original list
my_list = [10, 20, 30, 40, 20, 50, 20]

# Count the occurrences of the element 20
count_20 = my_list.count(20)

# Print the count of occurrences
print("Count of occurrences of 20:", count_20)

Count of occurrences of 20: 3

10. Reverse the order of elements in a list.

In [27]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using the reverse() method
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [28]:
# Original list
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order using the sort() method
my_list.sort()

# Print the sorted list
print("Sorted list (ascending order):", my_list)

Sorted list (ascending order): [1, 2, 3, 5, 8]

12. Sort a list in descending order.

In [29]:
# Original list
my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order using the sort() method
my_list.sort(reverse=True)

# Print the sorted list (descending order)
print("Sorted list (descending order):", my_list)

Sorted list (descending order): [8, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [30]:
# Using list comprehension to create a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

# Print the list of even numbers
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [31]:
# Using list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]

# Print the list of odd numbers
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

# Original list
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list using the sum() function
sum_of_elements = sum(my_list)

# Print the sum of all elements
print("Sum of all elements in the list:", sum_of_elements)

16. Find the maximum value in a list.

In [33]:
# Original list
my_list = [10, 30, 20, 50, 40]

# Find the maximum value in the list using the max() function
max_value = max(my_list)

# Print the maximum value
print("Maximum value in the list:", max_value)

Maximum value in the list: 50

17. Find the minimum value in a list.

In [34]:
# Original list
my_list = [10, 30, 20, 50, 40]

# Find the minimum value in the list using the min() function
min_value = min(my_list)

# Print the minimum value
print("Minimum value in the list:", min_value)

Minimum value in the list: 10

18. Create a list of squares of numbers from 1 to 10.

In [35]:
# Using list comprehension to create a list of squares of numbers from 1 to 10
squares_list = [num ** 2 for num in range(1, 11)]

# Print the list of squares
print("List of squares of numbers from 1 to 10:", squares_list)

List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [36]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Print the list of random numbers
print("List of random numbers:", random_numbers)

List of random numbers: [19, 12, 52, 10, 72]

20. Remove duplicates from a list.

In [37]:
# Original list with duplicates
my_list = [1, 2, 3, 2, 4, 5, 3]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [38]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the common elements using set intersection
common_elements = list(set(list1) & set(list2))

# Print the common elements
print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [3, 4, 5]

22. Find the difference between two lists.

In [39]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between lists using set difference
difference = list(set(list1) - set(list2))

# Print the difference
print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [1, 2]

23. Merge two lists.

In [40]:
# Two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the lists using the + operator
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [41]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
multiplied_list = [num * 2 for num in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [42]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Filter out even numbers using list comprehension with a conditional check
filtered_list = [num for num in my_list if num % 2 != 0]

# Print the filtered list
print("List without even numbers:", filtered_list)

List without even numbers: [1, 3, 5]

26. Convert a list of strings to a list of integers.

In [43]:
# List of strings
string_list = ['1', '2', '3', '4', '5']

# Convert the list of strings to a list of integers using list comprehension
integer_list = [int(num) for num in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [1]:
# List of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings using list comprehension
string_list = [str(num) for num in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [2]:
# Nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Flatten the nested list using list comprehension and extend
flattened_list = [item for sublist in nested_list for item in sublist]

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [3]:
# Function to generate Fibonacci numbers
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list[:n]

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [4]:
# List to check
sorted_list = [1, 2, 3, 4, 5]

# Check if the list is sorted using the all() function and a comparison
is_sorted = all(sorted_list[i] <= sorted_list[i + 1] for i in range(len(sorted_list) - 1))

# Print the result
print("Is the list sorted?", is_sorted)

Is the list sorted? True

31. Rotate a list to the left by `n` positions.

In [5]:
def rotate_left(lst, n):
    n = n % len(lst)  # Handle cases where n is larger than the length of the list
    return lst[n:] + lst[:n]

# Original list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(my_list, 2)

# Print the rotated list
print("Rotated list to the left:", rotated_list)

Rotated list to the left: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [6]:
def rotate_right(lst, n):
    n = n % len(lst)  # Handle cases where n is larger than the length of the list
    return lst[-n:] + lst[:-n]

# Original list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(my_list, 2)

# Print the rotated list
print("Rotated list to the right:", rotated_list)

Rotated list to the right: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [7]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50 using list comprehension
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [8]:
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Original list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Split the list into chunks of size 3
chunked_list = chunk_list(my_list, 3)

# Print the chunked list
print("Chunked list:", chunked_list)

Chunked list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [9]:
def second_largest(lst):
    if len(lst) < 2:
        return None
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[1]

# Original list
my_list = [10, 5, 8, 20, 15]

# Find the second largest number in the list
second_largest_num = second_largest(my_list)

# Print the second largest number
print("Second largest number in the list:", second_largest_num)

Second largest number in the list: 15

36. Replace every element in a list with its square.

In [10]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Replace each element with its square using list comprehension
squared_list = [num**2 for num in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [11]:
# Original list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary with elements as keys and indices as values
list_to_dict = {elem: index for index, elem in enumerate(my_list)}

# Print the dictionary
print("Dictionary from list:", list_to_dict)

Dictionary from list: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [12]:
import random

# Original list
my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly using the random.shuffle() function
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [2, 5, 3, 4, 1]

39. Create a list of the first 10 factorial numbers.

In [13]:
# Function to calculate factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Create a list of the first 10 factorial numbers using list comprehension
factorial_list = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of factorial numbers:", factorial_list)

List of factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [14]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the lists have at least one common element
common_element = any(elem in list1 for elem in list2)

# Print the result
print("Do the lists have at least one common element?", common_element)

Do the lists have at least one common element? True

41. Remove all elements from a list.

In [15]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Clear the list by assigning an empty list to it
my_list.clear()

# Print the empty list
print("Empty list after removal:", my_list)

Empty list after removal: []

42. Replace negative numbers in a list with 0.

In [16]:
# Original list
my_list = [1, -2, 3, -4, 5]

# Replace negative numbers with 0 using list comprehension
modified_list = [num if num >= 0 else 0 for num in my_list]

# Print the modified list
print("List with negative numbers replaced by 0:", modified_list)

List with negative numbers replaced by 0: [1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [17]:
# String
my_string = "Hello world, this is a string!"

# Convert the string into a list of words using the split() method
word_list = my_string.split()

# Print the list of words
print("List of words from the string:", word_list)

List of words from the string: ['Hello', 'world,', 'this', 'is', 'a', 'string!']

44. Convert a list of words into a string.

In [18]:
# List of words
word_list = ['Hello', 'world,', 'this', 'is', 'a', 'list']

# Convert the list of words into a string using the join() method
my_string = ' '.join(word_list)

# Print the string
print("String from the list of words:", my_string)

String from the list of words: Hello world, this is a list

45. Create a list of the first `n` powers of 2.

In [19]:
# Number of powers to generate
n = 5

# Create a list of the first n powers of 2 using list comprehension
powers_of_2 = [2**i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [20]:
# List of strings
string_list = ['apple', 'banana', 'cherry', 'date']

# Find the longest string using the max() function with the key=len
longest_string = max(string_list, key=len)

# Print the longest string
print("Longest string in the list:", longest_string)

Longest string in the list: banana

47. Find the shortest string in a list of strings.

In [21]:
# List of strings
string_list = ['apple', 'banana', 'cherry', 'date']

# Find the shortest string using the min() function with the key=len
shortest_string = min(string_list, key=len)

# Print the shortest string
print("Shortest string in the list:", shortest_string)

Shortest string in the list: date

48. Create a list of the first `n` triangular numbers.

In [22]:
# Number of triangular numbers to generate
n = 5

# Generate a list of the first n triangular numbers using list comprehension
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [23]:
# Main list
main_list = [1, 2, 3, 4, 5, 6, 7, 8]

# Subsequence list
subsequence = [3, 4, 5]

# Check if the subsequence is a sublist using list comprehension
is_subsequence = any(subsequence == main_list[i:i+len(subsequence)] for i in range(len(main_list) - len(subsequence) + 1))

# Print the result
print("Does the list contain the subsequence?", is_subsequence)

Does the list contain the subsequence? True

50. Swap two elements in a list by their indices.

In [24]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1, index2 = 1, 3

# Swap the elements using tuple unpacking
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

1. Create a tuple with integers from 1 to 5.

In [25]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Print the tuple
print("Tuple with integers from 1 to 5:", my_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [26]:
# Access the third element of the tuple using indexing (indexing starts at 0)
third_element = my_tuple[2]

# Print the third element
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

3. Find the length of a tuple without using the `len()` function.

In [27]:
# Initialize a variable to count the elements in the tuple
length = 0

# Iterate through the tuple elements and count them
for _ in my_tuple:
    length += 1

# Print the length of the tuple
print("Length of the tuple without using len():", length)

Length of the tuple without using len(): 5

4. Count the occurrences of an element in a tuple.

In [28]:
# Count the occurrences of an element in the tuple using the count() method
element_count = my_tuple.count(3)

# Print the count of occurrences
print("Occurrences of 3 in the tuple:", element_count)

Occurrences of 3 in the tuple: 1

5. Find the index of the first occurrence of an element in a tuple.

In [29]:
# Find the index of the first occurrence of an element using the index() method
element_index = my_tuple.index(4)

# Print the index of the first occurrence
print("Index of the first occurrence of 4:", element_index)

Index of the first occurrence of 4: 3

6. Check if an element exists in a tuple.

In [30]:
# Element to check
element_to_check = 3

# Check if the element exists in the tuple
element_exists = element_to_check in my_tuple

# Print the result
print("Does", element_to_check, "exist in the tuple?", element_exists)

Does 3 exist in the tuple? True

7. Convert a tuple to a list.

In [31]:
# Convert the tuple to a list using the list() constructor
tuple_to_list = list(my_tuple)

# Print the converted list
print("Converted tuple to list:", tuple_to_list)

Converted tuple to list: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [32]:
# List to convert to a tuple
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple using the tuple() constructor
list_to_tuple = tuple(my_list)

# Print the converted tuple
print("Converted list to tuple:", list_to_tuple)

Converted list to tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [33]:
# Unpack the tuple into variables
a, b, c, d, e = my_tuple

# Print the unpacked variables
print("Unpacked variables from tuple:", a, b, c, d, e)

Unpacked variables from tuple: 1 2 3 4 5

10. Create a tuple of even numbers from 1 to 10.

In [34]:
# Create a tuple of even numbers from 1 to 10 using tuple comprehension
even_numbers_tuple = tuple(num for num in range(1, 11) if num % 2 == 0)

# Print the tuple of even numbers
print("Tuple of even numbers from 1 to 10:", even_numbers_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [35]:
# Create a tuple of odd numbers from 1 to 10 using tuple comprehension
odd_numbers_tuple = tuple(num for num in range(1, 11) if num % 2 != 0)

# Print the tuple of odd numbers
print("Tuple of odd numbers from 1 to 10:", odd_numbers_tuple)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [36]:
# Two tuples to concatenate
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples using the + operator
concatenated_tuple = tuple1 + tuple2

# Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [37]:
# Tuple to repeat
original_tuple = (1, 2, 3)

# Repeat the tuple three times using the * operator
repeated_tuple = original_tuple * 3

# Print the repeated tuple
print("Repeated tuple three times:", repeated_tuple)

Repeated tuple three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [38]:
# Empty tuple
empty_tuple = ()

# Check if the tuple is empty
is_empty = not bool(empty_tuple)

# Print the result
print("Is the tuple empty?", is_empty)

Is the tuple empty? True

15. Create a nested tuple.

In [39]:
# Create a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple.

In [40]:
# Nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2)

17. Create a tuple with a single element.

In [41]:
# Create a tuple with a single element using a trailing comma
single_element_tuple = (1,)

# Print the single-element tuple
print("Single-element tuple:", single_element_tuple)

Single-element tuple: (1,)

18. Compare two tuples.

In [42]:
# Two tuples to compare
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the tuples using the comparison operators
comparison_result = tuple1 == tuple2

# Print the comparison result
print("Are the tuples equal?", comparison_result)

Are the tuples equal? False

19. Delete a tuple.

In [43]:
# Tuple to delete
tuple_to_delete = (1, 2, 3)

# Delete the tuple using the del statement
del tuple_to_delete

# Attempting to access the deleted tuple will raise a NameError
# print(tuple_to_delete)  # Uncomment this line to see the NameError

20. Slice a tuple.

In [44]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a subtuple
subtuple = original_tuple[1:4]

# Print the subtuple
print("Subtuple:", subtuple)

Subtuple: (2, 3, 4)

21. Find the maximum value in a tuple.

In [45]:
# Tuple with values
my_tuple = (10, 5, 20, 8, 15)

# Find the maximum value in the tuple using the max() function
max_value = max(my_tuple)

# Print the maximum value
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 20

22. Find the minimum value in a tuple.

In [46]:
# Tuple with values
my_tuple = (10, 5, 20, 8, 15)

# Find the minimum value in the tuple using the min() function
min_value = min(my_tuple)

# Print the minimum value
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 5

23. Convert a string to a tuple of characters.

In [47]:
# String to convert
my_string = "hello"

# Convert the string to a tuple of characters using tuple()
char_tuple = tuple(my_string)

# Print the tuple of characters
print("Tuple of characters from the string:", char_tuple)

Tuple of characters from the string: ('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [48]:
# Tuple of characters
char_tuple = ('h', 'e', 'l', 'l', 'o')

# Convert the tuple of characters to a string using join() and an empty string
my_string = ''.join(char_tuple)

# Print the string
print("String from the tuple of characters:", my_string)

String from the tuple of characters: hello

25. Create a tuple from multiple data types.

In [49]:
# Create a tuple with elements of different data types
mixed_tuple = (1, 'hello', 3.14, True)

# Print the tuple with multiple data types
print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [50]:
# Two tuples to compare
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the tuples are identical
are_identical = tuple1 == tuple2

# Print the result
print("Are the tuples identical?", are_identical)

Are the tuples identical? True

27. Sort the elements of a tuple.

In [51]:
# Tuple with unsorted elements
unsorted_tuple = (3, 1, 4, 1, 5, 9)

# Sort the elements of the tuple using sorted() function
sorted_tuple = tuple(sorted(unsorted_tuple))

# Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 1, 3, 4, 5, 9)

28. Convert a tuple of integers to a tuple of strings.

In [52]:
# Tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings using tuple comprehension
str_tuple = tuple(str(num) for num in int_tuple)

# Print the tuple of strings
print("Tuple of strings from tuple of integers:", str_tuple)

Tuple of strings from tuple of integers: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [53]:
# Tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers using tuple comprehension
int_tuple = tuple(int(num) for num in str_tuple)

# Print the tuple of integers
print("Tuple of integers from tuple of strings:", int_tuple)

Tuple of integers from tuple of strings: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [54]:
# Two tuples to merge
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples using the + operator
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [55]:
# Nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Flatten the nested tuple using tuple comprehension and the join() function
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)

# Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [56]:
# Function to check if a number is prime
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Create a tuple of the first 5 prime numbers using tuple comprehension and is_prime function
prime_numbers_tuple = tuple(num for num in range(2, 20) if is_prime(num))[:5]

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [57]:
# Tuple to check
palindrome_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
is_palindrome = palindrome_tuple == palindrome_tuple[::-1]

# Print the result
print("Is the tuple a palindrome?", is_palindrome)

Is the tuple a palindrome? True

34. Create a tuple of squares of numbers from 1 to 5.

In [58]:
# Create a tuple of squares of numbers from 1 to 5 using tuple comprehension
squares_tuple = tuple(num ** 2 for num in range(1, 6))

# Print the tuple of squares
print("Tuple of squares of numbers from 1 to 5:", squares_tuple)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [59]:
# Tuple with numbers
numbers_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers from the tuple using tuple comprehension
odd_numbers_tuple = tuple(num for num in numbers_tuple if num % 2 != 0)

# Print the tuple of odd numbers
print("Tuple with even numbers filtered out:", odd_numbers_tuple)

Tuple with even numbers filtered out: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [60]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements in the tuple by 2 using tuple comprehension
multiplied_tuple = tuple(num * 2 for num in original_tuple)

# Print the multiplied tuple
print("Multiplied tuple by 2:", multiplied_tuple)

Multiplied tuple by 2: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [61]:
import random

# Generate a tuple of 5 random numbers between 1 and 10
random_tuple = tuple(random.randint(1, 10) for _ in range(5))

# Print the tuple of random numbers
print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (4, 1, 3, 7, 3)

38. Check if a tuple is sorted.

In [62]:
# Sorted tuple
sorted_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted using the sorted() function and comparison
is_sorted = sorted_tuple == tuple(sorted(sorted_tuple))

# Print the result
print("Is the tuple sorted?", is_sorted)

Is the tuple sorted? True

39. Rotate a tuple to the left by `n` positions.

In [63]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotate the tuple to the left by n positions using slicing and concatenation
rotated_tuple = original_tuple[n:] + original_tuple[:n]

# Print the rotated tuple
print(f"Tuple rotated to the left by {n} positions:", rotated_tuple)

Tuple rotated to the left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [64]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Number of positions to rotate
n = 2

# Rotate the tuple to the right by n positions using slicing and concatenation
rotated_tuple = original_tuple[-n:] + original_tuple[:-n]

# Print the rotated tuple
print(f"Tuple rotated to the right by {n} positions:", rotated_tuple)

Tuple rotated to the right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [65]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        fibonacci.append(fibonacci[-1] + fibonacci[-2])
    return tuple(fibonacci[:n])

# Create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the tuple of Fibonacci numbers
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [66]:
# Get user input as comma-separated values
user_input = input("Enter values separated by commas: ")

# Split the input string into a list and convert it to a tuple
input_tuple = tuple(user_input.split(','))

# Print the tuple created from user input
print("Tuple from user input:", input_tuple)

Enter values separated by commas:  1,2,3

Tuple from user input: ('1', '2', '3')

43. Swap two elements in a tuple.

In [67]:
# Original tuple
original_tuple = (1, 2, 3, 4)

# Convert the tuple to a list to swap elements
temp_list = list(original_tuple)

# Swap elements at indices 1 and 2
temp_list[1], temp_list[2] = temp_list[2], temp_list[1]

# Convert the list back to a tuple
swapped_tuple = tuple(temp_list)

# Print the tuple with swapped elements
print("Tuple with swapped elements:", swapped_tuple)

Tuple with swapped elements: (1, 3, 2, 4)

44. Reverse the elements of a tuple.

In [68]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple using slicing
reversed_tuple = original_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [69]:
# Number of powers of 2
n = 5

# Create a tuple of the first n powers of 2 using tuple comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print(f"Tuple of the first {n} powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [70]:
# Tuple of strings
strings_tuple = ('apple', 'banana', 'orange', 'kiwi')

# Find the longest string in the tuple using max() function with key=len
longest_string = max(strings_tuple, key=len)

# Print the longest string
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: banana

47. Find the shortest string in a tuple of strings.

In [71]:
# Tuple of strings
strings_tuple = ('apple', 'banana', 'orange', 'kiwi')

# Find the shortest string in the tuple using min() function with key=len
shortest_string = min(strings_tuple, key=len)

# Print the shortest string
print("Shortest string in the tuple:", shortest_string)

Shortest string in the tuple: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [72]:
# Function to generate triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)
    return tuple(triangular_numbers)

# Create a tuple of the first 5 triangular numbers
triangular_numbers_tuple = generate_triangular_numbers(5)

# Print the tuple of triangular numbers
print("Tuple of the first 5 triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [73]:
# Tuple to check
main_tuple = (1, 2, 3, (4, 5), 6, 7)

# Subtuple to check for
sub_tuple = (4, 5)

# Check if the subtuple is a subsequence of the main tuple
is_subsequence = sub_tuple in main_tuple

# Print the result
print("Does the tuple contain the subtuple as a subsequence?", is_subsequence)

Does the tuple contain the subtuple as a subsequence? True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [74]:
# Length of the tuple
n = 6

# Create a tuple of alternating 1s and 0s using tuple comprehension
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Print the tuple of alternating 1s and 0s
print(f"Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

Tuple of alternating 1s and 0s of length 6: (1, 0, 1, 0, 1, 0)

1. Create a set with integers from 1 to 5.

In [75]:
# Create a set with integers from 1 to 5 using curly braces {}
my_set = {1, 2, 3, 4, 5}

# Print the set
print("Set with integers from 1 to 5:", my_set)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [76]:
# Original set
my_set = {1, 2, 3, 4}

# Add element 5 to the set using the add() method
my_set.add(5)

# Print the updated set
print("Set after adding element 5:", my_set)

Set after adding element 5: {1, 2, 3, 4, 5}

3. Remove an element from a set.

In [77]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Remove element 3 from the set using the remove() method
my_set.remove(3)

# Print the updated set
print("Set after removing element 3:", my_set)

Set after removing element 3: {1, 2, 4, 5}

4. Check if an element exists in a set.

In [78]:
# Set to check
my_set = {1, 2, 3, 4, 5}

# Check if element 3 exists in the set using the 'in' keyword
element_exists = 3 in my_set

# Print the result
print("Does element 3 exist in the set?", element_exists)

Does element 3 exist in the set? True

5. Find the length of a set without using the `len()` function.

In [79]:
# Set to find the length of
my_set = {1, 2, 3, 4, 5}

# Initialize a counter variable
length = 0

# Iterate through the set and increment the counter for each element
for _ in my_set:
    length += 1

# Print the length of the set
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set.

In [80]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set using the clear() method
my_set.clear()

# Print the set after clearing it
print("Set after clearing all elements:", my_set)

Set after clearing all elements: set()

7. Create a set of even numbers from 1 to 10.

In [81]:
# Create a set of even numbers from 1 to 10 using a set comprehension
even_numbers_set = {num for num in range(1, 11) if num % 2 == 0}

# Print the set of even numbers
print("Set of even numbers from 1 to 10:", even_numbers_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [82]:
# Create a set of odd numbers from 1 to 10 using a set comprehension
odd_numbers_set = {num for num in range(1, 11) if num % 2 != 0}

# Print the set of odd numbers
print("Set of odd numbers from 1 to 10:", odd_numbers_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [83]:
# Two sets for union operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of set1 and set2 using the union() method or the | operator
union_set = set1.union(set2)  # Alternatively, union_set = set1 | set2

# Print the union set
print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [84]:
# Two sets for intersection operation
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the intersection of set1 and set2 using the intersection() method or the & operator
intersection_set = set1.intersection(set2)  # Alternatively, intersection_set = set1 & set2

# Print the intersection set
print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {3}

11. Find the difference between two sets.

In [85]:
# Two sets for difference operation
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference between set1 and set2 using the difference() method or the - operator
difference_set = set1.difference(set2)  # Alternatively, difference_set = set1 - set2

# Print the difference set (elements in set1 but not in set2)
print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2, 3}

12. Check if a set is a subset of another set.

In [86]:
# Two sets for subset check
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2 using the issubset() method or the <= operator
is_subset = set1.issubset(set2)  # Alternatively, is_subset = set1 <= set2

# Print the result
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

13. Check if a set is a superset of another set.

In [87]:
# Two sets for superset check
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

# Check if set1 is a superset of set2 using the issuperset() method or the >= operator
is_superset = set1.issuperset(set2)  # Alternatively, is_superset = set1 >= set2

# Print the result
print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

14. Create a set from a list.

In [88]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list using the set() function
my_set = set(my_list)

# Print the set created from the list
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [89]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list using the list() function
my_list = list(my_set)

# Print the list converted from the set
print("List from set:", my_list)

List from set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [90]:
import random

# Original set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using the pop() method
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set after removing a random element:", my_set)

Removed element: 1
Updated set after removing a random element: {2, 3, 4, 5}

17. Pop an element from a set.

In [91]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set after popping an element:", my_set)

Popped element: 1
Updated set after popping an element: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [92]:
# Two sets for no common elements check
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no common elements using the isdisjoint() method
no_common_elements = set1.isdisjoint(set2)

# Print the result
print("Do set1 and set2 have no common elements?", no_common_elements)

Do set1 and set2 have no common elements? True

19. Find the symmetric difference between two sets.

In [93]:
# Two sets for symmetric difference operation
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference between set1 and set2 using the symmetric_difference() method or the ^ operator
symmetric_difference_set = set1.symmetric_difference(set2)  # Alternatively, symmetric_difference_set = set1 ^ set2

# Print the symmetric difference set
print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [94]:
# Original set and another set for update operation
my_set = {1, 2, 3}
update_set = {3, 4, 5}

# Update my_set with elements from update_set using the update() method
my_set.update(update_set)

# Print the updated set
print("Updated set after updating with another set:", my_set)

Updated set after updating with another set: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [95]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a set of the first 5 prime numbers using a set comprehension
prime_numbers_set = {num for num in range(2, 20) if is_prime(num)}

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11, 13, 17, 19}

22. Check if two sets are identical.

In [96]:
# Two sets for identity check
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if set1 and set2 are identical using the == operator
are_identical = set1 == set2

# Print the result
print("Are set1 and set2 identical?", are_identical)

Are set1 and set2 identical? True

23. Create a frozen set.

In [97]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the original set using the frozenset() function
frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [98]:
# Two sets for disjoint check
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are set1 and set2 disjoint?", are_disjoint)

Are set1 and set2 disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [100]:
# Create a set of squares of numbers from 1 to 5 using a set comprehension
squares_set = {num ** 2 for num in range(1, 6)}

# Print the set of squares
print("Set of squares of numbers from 1 to 5:", squares_set)

Set of squares of numbers from 1 to 5: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [101]:
# Original set
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers from the set using a set comprehension
filtered_set = {num for num in my_set if num % 2 != 0}

# Print the filtered set (containing only odd numbers)
print("Filtered set with odd numbers:", filtered_set)

Filtered set with odd numbers: {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [102]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Multiply all elements in the set by 2 using a set comprehension
multiplied_set = {num * 2 for num in my_set}

# Print the multiplied set
print("Multiplied set by 2:", multiplied_set)

Multiplied set by 2: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [103]:
import random

# Create a set of random numbers using a set comprehension
random_set = {random.randint(1, 100) for _ in range(10)}  # Generating 10 random numbers between 1 and 100

# Print the set of random numbers
print("Set of random numbers:", random_set)

Set of random numbers: {98, 4, 6, 74, 19, 25, 58, 60, 93}

29. Check if a set is empty.

In [104]:
# Empty set
empty_set = set()

# Check if the set is empty using the bool() function or len()
is_empty = not bool(empty_set)  # Alternatively, is_empty = len(empty_set) == 0

# Print the result
print("Is the set empty?", is_empty)

Is the set empty? True

30. Create a nested set (hint: use frozenset).

In [105]:
# Nested set using frozenset
nested_set = {frozenset({1, 2}), frozenset({3, 4})}

# Print the nested set
print("Nested set:", nested_set)

Nested set: {frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [106]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using the discard() method
my_set.discard(3)

# Print the updated set
print("Updated set after removing element using discard:", my_set)

Updated set after removing element using discard: {1, 2, 4, 5}

32. Compare two sets.

In [107]:
# Two sets for comparison
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Compare set1 and set2 using comparison operators
is_subset = set1 < set2  # set1 is a proper subset of set2
is_superset = set2 >= set1  # set2 is a superset of set1

# Print the comparison results
print("Is set1 a proper subset of set2?", is_subset)
print("Is set2 a superset of set1?", is_superset)

Is set1 a proper subset of set2? False
Is set2 a superset of set1? False

33. Create a set from a string.

In [108]:
# String to create a set from
my_string = "hello"

# Create a set from the string using the set() constructor
string_set = set(my_string)

# Print the set created from the string
print("Set created from the string:", string_set)

Set created from the string: {'h', 'l', 'e', 'o'}

34. Convert a set of strings to a set of integers.

In [109]:
# Set of strings
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using set comprehension and the int() function
integer_set = {int(num) for num in string_set}

# Print the set of integers
print("Set of integers from a set of strings:", integer_set)

Set of integers from a set of strings: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [110]:
# Set of integers
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using set comprehension and the str() function
string_set = {str(num) for num in integer_set}

# Print the set of strings
print("Set of strings from a set of integers:", string_set)

Set of strings from a set of integers: {'2', '5', '4', '1', '3'}

36. Create a set from a tuple.

In [111]:
# Tuple to create a set from
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple using the set() constructor
tuple_set = set(my_tuple)

# Print the set created from the tuple
print("Set created from the tuple:", tuple_set)

Set created from the tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [112]:
# Set to convert to a tuple
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple using the tuple() constructor
set_tuple = tuple(my_set)

# Print the tuple converted from the set
print("Tuple converted from the set:", set_tuple)

Tuple converted from the set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [113]:
# Set of numbers
number_set = {5, 10, 3, 8, 1}

# Find the maximum value in the set using the max() function
max_value = max(number_set)

# Print the maximum value in the set
print("Maximum value in the set:", max_value)

Maximum value in the set: 10

39. Find the minimum value in a set.

In [114]:
# Set of numbers
number_set = {5, 10, 3, 8, 1}

# Find the minimum value in the set using the min() function
min_value = min(number_set)

# Print the minimum value in the set
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

40. Create a set from user input.

In [116]:
# Take user input as a string separated by spaces
input_string = input("Enter elements separated by spaces: ")

# Split the input string into individual elements
elements = input_string.split()

# Create a set from the elements using the set() constructor
user_set = set(elements)

# Print the set created from user input
print("Set created from user input:", user_set)

Enter elements separated by spaces:  1,2,3

Set created from user input: {'1,2,3'}

41. Check if the intersection of two sets is empty.

In [117]:
# Two sets for intersection check
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Check if the intersection of set1 and set2 is empty
is_intersection_empty = len(set1 & set2) == 0

# Print the result
print("Is the intersection empty?", is_intersection_empty)

Is the intersection empty? True

42. Create a set of the first 5 Fibonacci numbers.

In [118]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = generate_fibonacci(5)

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [119]:
# List with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates from the list using set conversion
unique_list = list(set(my_list))

# Print the list with duplicates removed
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [120]:
# Two sets for comparison
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}

# Check if the sets have the same elements regardless of count
are_equal = set1 == set2

# Print the result
print("Do the sets have the same elements (regardless of count)?", are_equal)

Do the sets have the same elements (regardless of count)? True

45. Create a set of the first `n` powers of 2.

In [121]:
# Function to generate powers of 2
def generate_powers_of_2(n):
    powers_of_2_set = {2 ** i for i in range(n)}
    return powers_of_2_set

# Create a set of the first n powers of 2
powers_of_2_set = generate_powers_of_2(5)  # Example for n = 5

# Print the set of powers of 2
print("Set of the first n powers of 2:", powers_of_2_set)

Set of the first n powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [122]:
# Set and list for finding common elements
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements between the set and list using intersection
common_elements = my_set.intersection(my_list)

# Print the common elements
print("Common elements between set and list:", common_elements)

Common elements between set and list: {3, 4, 5}



47. Create a set of the first `n` triangular numbers.

In [123]:
# Function to generate triangular numbers
def generate_triangular_numbers(n):
    triangular_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
    return triangular_set

# Create a set of the first n triangular numbers
triangular_set = generate_triangular_numbers(5)  # Example for n = 5

# Print the set of triangular numbers
print("Set of the first n triangular numbers:", triangular_set)

Set of the first n triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [124]:
# Sets for subset check
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
print("Is set2 a subset of set1?", is_subset)

Is set2 a subset of set1? True

49. Create a set of alternating 1s and 0s of length `n`.

In [125]:
# Function to generate alternating 1s and 0s
def generate_alternating_set(n):
    alternating_set = {1 - i % 2 for i in range(n)}
    return alternating_set

# Create a set of alternating 1s and 0s of length n
alternating_set = generate_alternating_set(5)  # Example for n = 5

# Print the alternating set
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [126]:
# Sets to merge
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union operator |
merged_set = set1 | set2 | set3

# Print the merged set
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}